{% extends 'base.html' %}
{% block content %}
<h2>Admin Dashboard</h2>
<h3>Create User</h3>
<form method="post" action="{{ url_for('admin') }}">
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="username" class="form-control" id="username" name="username" required>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" required>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" required>
    </div>
    <div class="mb-3">
        <label for="role" class="form-label">Role</label>
        <select class="form-select" id="role" name="role" required>
            <option value="user">User</option>
            <option value="moderator">Moderator</option>
            <option value="admin">Admin</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Create User</button>
</form>

<h3>Existing Users</h3>
<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <!-- <td>{{ user.role }}</td> -->
             <td>
            <form method="post" action="{{ url_for('edit_role', id=user.id) }}" style="display: inline;">
                <select class="form-select" name="role" required>
                    <option value="user" {% if user.role == 'user' %}selected{% endif %}>User</option>
                    <option value="moderator" {% if user.role == 'moderator' %}selected{% endif %}>Moderator</option>
                    <option value="admin" {% if user.role == 'admin' %}selected{% endif %}>Admin</option>
                </select>
                <button type="submit" class="btn btn-success mt-1">Update</button>
            </form>
            </td>
            <td>
                <form method="post" action="{{ url_for('delete_user', id=user.id) }}" style="display: inline;">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
